.request-ul {
  list-style: none;
  padding: 0;
}

.request-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-bottom: 8px;
  background: white;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.1s,
    background 0.2s;
}

.title-item {
  display: flex;
  align-items: center;
}

.new-label {
  font-size: 0.3em;
  color: red;
  font-weight: bold;
  margin-left: 3px;
  margin-top: 1px;
  white-space: nowrap;
}

.empty-text {
  color: #888;
  font-style: italic;
}

.request-item.active {
  background: #afd2f5;
  transform: translateX(5px);
}
